body{
    background: purple;
}
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: auto;
   
    padding: 10px;

    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.titulo_principal{
    font-size: 38px;
    color: white;
    font-weight: bold;
   
}

.semente_na_mao{
    width: 50px;
    height: 50px;
    
}

.abertura{
    color: white;
    font-size: 20px;
    width: 50%;
}

.cofrinho{
    width: 250px;
    height: 200px;
}

.motivos{
    color: rgb(54, 9, 65);
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: auto;

}

.porque_titulo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10rem;
    text-align: center;
}
.porque_subtitulo{
    color: rgb(196, 240, 126);
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
    /*quebrar em duas linhas*/
    word-wrap: break-word;
    width: 50%;
    margin: 0 auto;
    
}

.descreve_motivos{
    /*organizar as divisões, estabilidade, decisões, endividamento, Investimento  em retangulos com fundo cinza e texto roxo, coloca borda azul*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: auto;
    margin-top: 5rem;
    
}
.estabilidade{
    width: 250px;
    height: 200px;
    background-color: rgb(153, 192, 108);
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;
    
}
.decisoes{
    width: 250px;
    height: 200px;
    background-color: rgb(153, 192, 108);
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;
}
.endividamento{
    width: 250px;
    height: 200px;
    background-color: rgb(153, 192, 108);
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;
}
.investimento{
    width: 250px;
    height: 200px;
    background-color: rgb(153, 192, 108);
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;
}

.arvore_documentos{
       width: 50%;
       margin-top: 10rem;
       margin-left: 25px;
               
}

.edu_criancas{/*organizar os topicos de edu_criancas, o_titulo_edu_ciancas, economize_criancas, objetivos_ciancas, gestao_dindin_cirancas, investir_crianca */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: auto;
    margin-top: -50rem;
    font-size: 18px;
    color: rgb(54, 9, 65);

}
.o_titulo_edu_ciancas{
    color: rgb(235, 236, 232);
    font-size: 30px;
    font-weight: bold;
    margin-top: 10rem;
    text-align: center;
}
.economize_criancas{
    width: 250px;
    height: 350px;
    background-color: gray;
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;
}
.piggy_bank{
    width: 250px;
    height: 180px;
}
.objetivos_ciancas{
    width: 250px;
    height: 350px;
    background-color: gray;
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;
}
.child_urso{
    width: 250px;
    height: 180px;
}

.gestao_dindin_cirancas{
    width: 250px;
    height: 350px;
    background-color: gray;
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;
}
.puzzle_dolar{
    width: 250px;
    height: 150px;
}
.investir_crianca{
    width: 250px;
    height: 350px;
    background-color: gray;
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;
}
.money_crescendo{
    width: 250px;
    height: 160px;
}

.todas_idades{/*organizar a seção de todas_idades, e os seguintes topicos titulo_todas_idades, todas_idades_financeiro, todas_idades_investir, 
    todas_idades_planejar, todas_idades_despesas */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: auto;
    margin-top: 5rem;
    font-size: 18px;

      
        
}
.titulo_todas_idades{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10rem;
    text-align: center;
}
.todas_idades_financeiro{
    width: 250px;
    height: 350px;
    background-color: rgb(243, 241, 149);
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;

}
.financas{
    width: 250px;
    height: 180px;
}
.todas_idades_investir{
    width: 250px;
    height: 350px;
    background-color: rgb(243, 241, 149);
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;

}
.investir{
    width: 250px;
    height: 180px;
}
.todas_idades_planejar{
    width: 250px;
    height: 350px;
    background-color: rgb(243, 241, 149);
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;

}
.planejar{
    width: 250px;
    height: 180px;
}
.todas_idades_despesas{
    width: 250px;
    height: 350px;
    background-color: rgb(243, 241, 149);
    border: 2px solid rgb(179, 94, 228);
    border-radius: 10px;
    padding: 10px;

}
.despesas{
    width: 250px;
    height: 180px;
}








    
